# Python
__pycache__/
*.py[cod]
*.so
.Python

# Virtual environments
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/

# Dotenv
.env
